.Page-content {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow: scroll;
}

.Insta-background {
    background: linear-gradient(70deg, #3A2D78, #c000ff, #FF9A22);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Title-container {
    /*padding: 25px;*/
    display: flex;
    justify-content: center;
}

.Buttons-container{
    padding: 25px;
    display: flex;
    justify-content: center;
}

.Links-container {
    display: flex;
    flex-direction: column;
    padding-inline: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5%;
    min-height: 20%;
    border: solid 1px #000000;

}

.Link {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #4ea8de ;
    min-height: 40px;
    margin-block: 5px;
    border: solid 1px #000000;

}

.Link-header {
    width: 10%;
    border-radius: 5px;
    background-color: lightcoral;
}

.Link-content {
    width: 90%;
    background-color: white;
}

.Link-icon {
    max-width: 60%;
}
